<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.osate.pluginsupport.aadlcontribution">
      <aadlcontribution
            file="resources/properties/AIAG_VDA.aadl"
            id="org.osate.dfmea.contrib.dfmea">
      </aadlcontribution>
   </extension>

</plugin>
